.info{
    text-align: left;
    padding: 0 15px;
}

.abouth{
    
    margin: 10px 0;
    text-align: left;
}

// .btn{
//     transition: padding .2s ease-out !important;
// }

// .btn:hover{
//     padding: 0 40px !important;
// }

.imgcontainer{
    padding-top: 50px;
    margin: auto;
    text-align: center;
    visibility: none;
    padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .abouth{
        text-align: center;
    }
  }

