.info{
    text-align: left;
    padding: 0 15px;
}

.abouth{
    
    margin-top: 5px;
    
}

.btn{
    transition: padding .2s ease-out !important;
}

.btn:hover{
    padding: 0 40px !important;
}

.imgcontainer{
    padding-top: 50px;
    margin: auto;
    text-align: center;
    visibility: none;
    padding-bottom: 20px;
}



